{{WATERMARK}}

{{LEGIBILITY}}

{{HEADER}}

{{HERO}}

{{DIVIDER}}

{{ABOUT-ME}}

{{DIVIDER}}

{{EXPERIENCE}}

{{DIVIDER}}

{{PROJECTS}}

{{DIVIDER}}

{{STACKS}}

{{DIVIDER}}

{{FRIENDS}}

{{DIVIDER}}

{{FOOTER}}
